extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Practice Elevation
                    h6 - Made with Node, Express, Jade, Angular, Mongo, Stylus, and Other Stuff
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 Practice Elevation Corporation International Limited.
