.container
    .jumbotron
        h1 Practice Elevation
        p Welcome to this page.  Please make yourself at home.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")